.vscode/
build/
dist/
*.egg-info/
__pycache__
.ipynb_checkpoints/
.DS_Store
**.pyc
*.png
*.txt
**/outputs/
**/wandb/
**/exp/
**/exp_local/
data/
eval/
assets/
**.pth
**.npz
core
**.log
*.jsonl
*.json
*.csv
*.tar
*.zip
**/record/

sft_pipeline/cache/
sft_pipeline/modelparameter/
sft_pipeline/reports/
sft_pipeline/visualization/
sft_answer_pipeline/data/
sft_answer_pipeline/modelparameter/
sft_answer_pipeline/reports/
sft_answer_pipeline/visualization/
sft_rl_pipeline/modelparameter/
sft_rl_pipeline_pipeline/reports/
sft_rl_pipeline/visualization/
sft_reasoning_pipeline/modelparameter/
sft_reasoning_pipeline/reports/
sft_reasoning_pipeline/visualization/
